.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 80px;
  padding-left: 4%;
  display: flex;
  align-items: center;
  font-size: 30px;
  /* text-align: left; */
  color: white;
  justify-content: flex-start;
}
